/* --- FONDO PRINCIPAL Y PESTAÑAS (ALTO CONTRASTE) --- */
QMainWindow, QFrame {
    background-color: #000000;
}

QTabWidget::pane {
    border: 3px solid #FFFF00;
    border-radius: 8px; /* Añadido para redondear el marco grande */
    background-color: #000000;
}

QTabBar::tab {
    padding: 14px 24px;
    font-weight: bold;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-bottom: none;
    border-top-left-radius: 8px;  /* Redondea la esquina superior izquierda */
    border-top-right-radius: 8px; /* Redondea la esquina superior derecha */
}

QTabBar::tab:selected {
    background-color: #FFFF00;
    color: #000000;
}

/* --- TEXTOS Y CAJAS --- */
QLabel {
    color: #FFFF00;
    font-size: 18px;
    font-weight: bold;
}

QTextEdit, QLineEdit, QTableWidget {
    background-color: #000000;
    color: #FFFF00;
    font-family: 'Consolas', monospace;
    font-size: 18px;
    padding: 12px;
    border: 3px solid #FFFF00;
    border-radius: 8px; /* Añadido para redondear la caja del código */
}

/* --- BOTONES GENERALES Y ESPECÍFICOS --- */
/* En alto contraste unificamos todo con bordes gruesos */
QPushButton {
    font-weight: bold;
    padding: 14px;
    border: 3px solid #FFFF00;
    border-radius: 8px; /* Modificado: antes estaba en 0px para ser puntiagudo */
    font-size: 18px;
    background-color: #000000;
    color: #FFFF00;
}

QPushButton:hover {
    background-color: #FFFF00;
    color: #000000;
}