/* --- FONDO PRINCIPAL Y PESTAÑAS --- */
QMainWindow, QFrame {
    background-color: #121212;
}

QTabWidget::pane {
    border: 1px solid #3C3C3C;
    background-color: #1E1E1E;
}

QTabBar::tab {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    background-color: #2B2B2B;
    color: #D4D4D4;
    border: 1px solid #3C3C3C;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 2px;
}

QTabBar::tab:selected {
    background-color: #1E1E1E;
    color: #FFFFFF;
    border-top: 3px solid #0052cc;
}

/* --- TEXTOS Y CAJAS --- */
QLabel {
    color: #D4D4D4;
    font-size: 14px;
}

QTextEdit, QLineEdit, QTableWidget {
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: 'Consolas', monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #3C3C3C;
}

/* --- BOTONES GENERALES --- */
QPushButton {
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    background-color: #3C3C3C;
    color: white;
}
QPushButton:hover {
    background-color: #505050;
}

/* --- BOTONES ESPECÍFICOS Y DE CÁMARA --- */
QPushButton#capture_btn { background-color: #ffd101; color: white; }
QPushButton#send_btn { background-color: #0077c9; color: white; }
QPushButton#ia_btn { background-color: #01963a; color: white; }
QPushButton#read_btn { background-color: #c9262f; color: white; }
QPushButton#tts_btn { background-color: #ffffff; color: black; }


/* Efecto cristal para los botones flotantes de la cámara */
QPushButton#overlay_btn, QComboBox#combo_cameras {
    background-color: rgba(30, 30, 30, 180);
    color: white;
    border: 1px solid rgba(255, 255, 255, 50);
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: bold;
}
QPushButton#overlay_btn:hover, QComboBox#combo_cameras:hover {
    background-color: rgba(60, 60, 60, 220);
    border: 1px solid rgba(255, 255, 255, 100);
}